
DISCORD_TOKEN_BFEE=  # Discord token for Total Blobs Fees 
DISCORD_TOKEN_BSIZE= # Discord token for Total Blobs Size 

DISCORD_TARGET_CHANNEL_IDS=   # IDs of Discord channels where the bot is allowed to respond to commands, separated by ','

TIA_API_URL=  # Celestia archival node api endpoint

# Postgres database connection details
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME='celestia_blob_fee_bot'
